<body
  class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar"
  data-open="click"
  data-menu="vertical-menu"
  data-color="bg-chartbg"
  data-col="2-columns"
>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row"></div>
      <div class="content-body">
        <!-- Chart -->
        <div class="row match-height">
          <div class="col-12">
            <div class="">
              <div id="" class="height-250"></div>
            </div>
          </div>
        </div>
        <!-- Chart -->
        <!-- eCommerce statistic -->
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-180">
                <h5
                  class="text-muted danger position-absolute p-1"
                  style="margin-left: 35%; margin-top: 10%"
                >
                  REVENUE
                </h5>
                <div>
                  <i class="ft-pie-chart danger font-large-1 p-1"></i>
                </div>
                <div
                  class="progress-stats-container ct-golden-section height-75 position-relative pt-3"
                  style="display: flex; align-items: center; margin-top: 10px"
                >
                  <span
                    style="
                      font-weight: bolder;
                      font-size: xx-large;
                      margin-left: 35%;
                    "
                    >₹<%=locals.total%></span
                  >
                  <span
                    style="margin-top: 70px; margin-left: 25%"
                    class="text-sm"
                  >
                    Shipping fees are not included
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-180">
                <h5
                  class="text-muted danger position-absolute p-1"
                  style="margin-left: 29%; margin-top: 10%"
                >
                  TOTAL ORDERS
                </h5>
                <div>
                  <i class="ft-activity info font-large-1 p-1"></i>
                </div>
                <div
                  class="progress-stats-container ct-golden-section height-75 position-relative pt-3"
                  style="display: flex; align-items: center; margin-top: 10px"
                >
                  <span
                    style="
                      font-weight: bolder;
                      font-size: xx-large;
                      margin-left: 43%;
                    "
                    ><%=locals.orderCount%></span
                  >
                  <span
                    style="margin-top: 70px; margin-left: 28%"
                    class="text-sm"
                  >
                    Excluding orders in transit
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card pull-up ecom-card-1 bg-white">
              <div class="card-content ecom-card2 height-180">
                <h5
                  class="text-muted danger position-absolute p-1"
                  style="margin-left: 28%; margin-top: 10%"
                >
                  TOTAL PRODUCTS
                </h5>
                <div>
                  <i class="ft-shopping-cart warning font-large-1 p-1"></i>
                </div>
                <div
                  class="progress-stats-container ct-golden-section height-75 position-relative pt-3"
                  style="display: flex; align-items: center; margin-top: 10px"
                >
                  <span
                    style="
                      font-weight: bolder;
                      font-size: xx-large;
                      margin-left: 43%;
                    "
                    ><%=locals.productsCount%></span
                  >
                  <span
                    style="margin-top: 70px; margin-left: 36%"
                    class="text-sm"
                    >In <%=locals.categoryCount%> Categories
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ eCommerce statistic -->

        <!-- Statistics -->
        <div class="row match-height">
          <div class="col-xl-6 col-lg-12">
            <div class="card" style="height: 415px">
              <div style="background-color: #18334f" class="card-header">
                <h4
                  style="color: aliceblue"
                  class="card-title"
                  id="heading-multiple-thumbnails"
                >
                  SALES STATISTICS
                </h4>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <canvas id="myChart1" height=""></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h4 class="card-title">PAYMENT METHOD</h4>
                </div>

                <div class="card-body">
                  <canvas id="myChart2" height=""></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Statistics -->
      </div>
    </div>
  </div>
  <div>
    <p style="visibility: hidden" id="days">
      <%= JSON.stringify(locals.ordersPerDay) %>
    </p>
    <p style="visibility: hidden" id="payment">
      <%=JSON.stringify(locals.paymentCount) %>
    </p>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<script>
  document.write(new Date());

  // Sample data
  var xValues = [
    "Sunday",
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
  ];
  var yValues = [0, 5, 10, 15, 20, 25, 50];
  var buyed = [];
  let daysData = JSON.parse(document.getElementById("days").innerHTML);

  for (let i = 0; i < xValues.length; i++) {
    if (xValues[i] in daysData) {
      buyed.push(daysData[xValues[i]]);
    } else {
      buyed.push(0);
    }
  }

  new Chart("myChart1", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [
        {
          fill: false,
          lineTension: 0,
          backgroundColor: "#088178",
          borderColor: "rgba(0,0,255,0.1)",
          data: buyed,
          label: "Sales",
        },
      ],
    },
    options: {
      legend: { display: false },
      scales: {
        yAxes: [{ ticks: { min: 0, max: 25 } }],
      },
    },
  });

  var xValue = ["COD", "Razorpay"];
  var yValue = [];
  let paymentData = JSON.parse(document.getElementById("payment").innerHTML);
  yValue.push(paymentData[0]);
  yValue.push(paymentData[1]);

  var barColors = ["#088178", "#18334f"];

  new Chart("myChart2", {
    type: "pie",
    data: {
      labels: xValue,
      datasets: [
        {
          backgroundColor: barColors,
          data: yValue,
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: "Payment mode",
      },
    },
  });
</script>
