<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
<section class="app-content content">
    <div class="container d-flex justify-content-center">
      <div class="row w-75 mt-5">
        <div class="col-md-12">
          <h2 class="text-center">Edit Product</h2>
          <form action="/admin/edit-product/<%=product._id %>" method="POST" enctype="multipart/form-data" name="myform" id="form" >
            <label for="">Prodcut Name</label>
            <input type="text" name="productname" class="form-control" value="<%=product.productname%>" id="name" required="" onkeyup="validateName()"/>
            <span id="name-error" class="validation-label"></span>
            <br />
            <label for="">Description</label>
            <input type="text" name="description" class="form-control" value="<%=product.description%>" id="description" required="" onkeyup="validateDescription()" />
            <span id="description-error" class="validation-label"></span>
            <br>
  
            <label for="">Price</label>
            <input type="text" name="price" class="form-control" value="<%=product.price%>" onkeyup="validatePrice()" id="price" required="" />
            <span id="price-error" class="validation-label"></span>
            <br>
  
            
            <label for="cars">Category</label>
           
            <select class="form- form-control" name="category" id="cars">
              <% categorys.forEach(function(categorys) { %>
              <option value="<%=categorys._id %>"><%=categorys.categoryname %></option>
              <% } )%>
            </select>
            
          
            <label for="">Quantity</label>
            <input type="text" name="quantity" class="form-control" value="<%=product.quantity%>" onkeyup="validateQuantity()" id="quantity" required="" />
            <span id="quantity-error" class="validation-label"></span>
            <br>
  
            <label for="">Image</label>
            <img src="<%=product.image[0]%>" alt="" style="width:100px;height:auto" id="imageView">
            <input type="file" accept="file/*" name="image" multiple="required" class="form-control" onchange="changeImage(event)" />
  
            <button type="submit" class="btn btn-info mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  </body>


  <script>
    function changeImage(event){
      document.getElementById('imageView').src=URL.createObjectURL(event.target.files[0])
    }


    
    
  
    const nameError = document.getElementById("name-error");
    const descriptionError = document.getElementById("description-error");
    const priceError = document.getElementById("price-error");
    const quantityError = document.getElementById("quantity-error");
    const formError = document.getElementById("form-error");
    const form = document.getElementById("form");
    const regex = /^[^ ].*/
  
    function validateName() {
      var name = document.getElementById("name").value;
      var nameInput = document.getElementById("name");
      if (name.length == 0) {
        nameError.innerHTML = "Name is required";
        nameError.style.color = "red";
        nameInput.style.border = "solid 2px red";
        return false;
      }
      if (!name.match(regex)) {
        nameError.innerHTML = "Write valid name";
        nameError.style.color = "red";
        nameInput.style.border = "solid 2px red";
  
        return false;
      }
      nameError.innerHTML = "";
      // nameError.innerHTML = "Valid Name";
      nameError.style.color = "green";
      nameInput.style.border = "solid 2px green";
  
      return true;
    }
    
    function validateDescription() {
      const description = document.getElementById("description").value;
      const descriptionInput = document.getElementById("description");
      console.log(name);
      if (description.length == 0) {
        descriptionError.innerHTML = "Discription is required";
        descriptionError.style.color = "red";
        descriptionInput.style.border = "solid 2px red";
        return false;
      }
      if (!description.match(regex)) {
        descriptionError.innerHTML = "Write valid discription";
        descriptionError.style.color = "red";
        nameInput.style.border = "solid 2px red";
        return false;
      }
      descriptionError.innerHTML = "";
      // nameError.innerHTML = "Valid Name";
      descriptionError.style.color = "green";
      descriptionInput.style.border = "solid 2px green";
      return true;
    }
    function validatePrice() {
      const price = document.getElementById("price").value;
      const priceInput = document.getElementById("price");
      if (price.length == 0) {
        priceError.innerHTML = "Price field is required";
        priceError.style.color = "red";
        priceInput.style.border = "solid 2px red";
        return false;
      }
      if (!price.match(/^\d+(\.\d{1,2})?$/)) {
        priceError.innerHTML = "Write valid price";
        priceError.style.color = "red";
        nameInput.style.border = "solid 2px red";
        return false;
      }
      priceError.innerHTML = "";
      // nameError.innerHTML = "Valid Name";
      priceError.style.color = "green";
      priceInput.style.border = "solid 2px green";
      return true;
    }
    function validateQuantity() {
      const quantity = document.getElementById("quantity").value;
      const quantityInput = document.getElementById("quantity");
      console.log(name);
      if (quantity.length == 0) {
        quantityError.innerHTML = "quantity field is required";
        quantityError.style.color = "red";
        quantityInput.style.border = "solid 2px red";
        return false;
      }
      if (!quantity.match(/^[1-9]\d*$/)) {
        quantityError.innerHTML = "Write valid quantity";
        quantityError.style.color = "red";
        nameInput.style.border = "solid 2px red";
        return false;
      }
      quantityError.innerHTML = "";
      // nameError.innerHTML = "Valid Name";
      quantityError.style.color = "green";
      quantityInput.style.border = "solid 2px green";
      return true;
    }
  
    form.addEventListener("submit", (event) => {
      event.preventDefault();
      if (
        !validatePrice() ||
        !validateQuantity() ||
        !validateDescription() ||
        
        !validateName()
      ) {
        Swal.fire({
          icon: "error",
          title: "Enter details correctly!!",
        });
        return false;
      } else {
        form.submit();
      }
    });
  
  
  </script>