
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">User Profile</a>
                            <span>Address</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="mb-25">
                            <h4>Your Addresses</h4>
                          </div>
                          <br />
                          
                            
                                <%storedAddress.address.forEach(function(address){%>
                            <div class="mb-3">
                              <div class="payment_option">
                                <div
                                
                                  class="custome-radio"
                                  style="
                                    width: 35rem;
                                    height: 20rem;
                                    background-color: whitesmoke;
                                    padding: 20px;
                                    border-radius: 30px;
                                    
                                  "
                                >
                                  
                                <div class="ml-5" >
                                  <p><%=address.fname%> <%=address.lname%></p>
                                  <p><%=address.apartment%>, <%=address.street%>,</p>
                                  <p>
                                    <%=address.city%>, <%=address.district%>, <%=address.state%>
                                  </p>
                                    <p>pincode: <%=address.pincode%></p>
                                    <p>phone: <%=address.mobile%></p>
                                    <p>email: <%=address.email%></p>
                                    <button style="margin-left: 70%;" onclick="deleteAddress('<%=address._id%>')" class="btn btn-dark">Delete Address</button>
                                </div>
                                  <br />
                                  
                                </div>
                              </div>
                            </div>
                            
                             <%}) %>
                            
                  
                            <div class="mt-3"
                              style="
                                width: 35rem;
                                height: 3rem;
                                background-color: whitesmoke;
                                padding-top: 12px;
                                padding-left: 15px;
                                border-radius: 30px;
                              "
                            >
                              <a href="" data-toggle="modal" data-target="#exampleModal">
                                <h5>+ Add an address</h5>
                              </a>
                             
                            </div>
                       
                    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: whitesmoke;border-radius: 10px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:black; font-weight: bold;">Add New Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/post-address" id="form">
                <div class="form-group" >
                    <input style="width: 350px; border-radius: 6px;" type="text" required="" onkeyup="validateFirstName()" id="fname" name="fname" placeholder="First name">
                    <br>
                    <span id="fname-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" type="text" required="" onkeyup="validateLastName()" id="lname" name="lname" placeholder="Last name">
                    <br>
                    <span id="lname-error" class="validation-label"></span>
                </div>
                
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" type="text" onkeyup="validateApartment()" id="apartment" name="apartment" required="" placeholder="Apartment">
                    <br>
                    <span id="apartment-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" required="" onkeyup="validateStreet()" id="street" type="text" name="street" placeholder="Street Name">
                    <br>
                    <span id="street-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" type="text" onkeyup="validateCity()" id="city" name="city" required="" placeholder="City">
                    <br>
                    <span id="city-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" type="text" name="district" required="" placeholder="Disctrict">
                    <br>
                    
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" required="" onkeyup="validateState()" id="state" type="text" name="state" placeholder="State">
                    <br>
                    <span id="state-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" required="" type="text" onkeyup="validatePin()" id="pin" name="pincode" placeholder="Pincode">
                    <br>
                    <span id="pin-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" required="" onkeyup="validatePhone()" id="phone" type="text" name="mobile" placeholder="Mobile">
                    <br>
                    <span id="phone-error" class="validation-label"></span>
                </div>
                <div class="form-group">
                    <input style="width: 350px; border-radius: 6px;" required=""onkeyup="validateEmail()" id="email" type="text" name="email" placeholder="Email">
                    <br>
                    <span id="email-error" class="validation-label"></span>
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            
            
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark" >Add Adress</button>
        </div>
    </form>
      </div>
    </div>
  </div>



  <script>
    function deleteAddress(addressId)
     {
       Swal.fire({
     title: 'Are you sure?',
     text: "You won't be able to revert this!",
     icon: 'warning',
     showCancelButton: true,
     confirmButtonColor: '#3085d6',
     cancelButtonColor: '#d33',
     confirmButtonText: 'Yes, delete it!'
   }).then((result) => {
     if (result.isConfirmed) {
        $.ajax({
            url:'/delete-address',
            data:{
                addressId:addressId
            },
            method: 'DELETE',
    
            success:(response)=>
            {
                if(response.deleteAddress)
                {
                    location.reload()
                } 
    
            }
        })
        Swal.fire(
         'Deleted!',
         'Your file has been deleted.',
         'success'
       )
     }
   })
      
   }
    
   
     </script>







<script>
    const fnameError = document.getElementById('fname-error');
    const lnameError = document.getElementById('lname-error');
    const emailError = document.getElementById('email-error');
    const phoneError = document.getElementById('phone-error');
    const streetError = document.getElementById('street-error');
    const pinError = document.getElementById('pin-error');
    const cityError = document.getElementById('city-error');
    const apartmentError = document.getElementById('apartment-error');
    const stateError = document.getElementById('state-error');
    const formError = document.getElementById('form-error');
    const form = document.getElementById('form');
    const regex = /^[^ ].*/
    function validateFirstName() {
    const fname = document.getElementById('fname').value;
    const fnameInput = document.getElementById('fname');

    if (fname.length == 0) {
      fnameError.innerHTML = 'Name is required';
      fnameError.style.color = 'red';
      fnameInput.style.border = 'solid 2px red';
      return false;
    }
    if (!fname.match(/^[A-Za-z]{3,}$/)) {
      fnameError.innerHTML = 'Write valid name';
      fnameError.style.color = 'red';
      fnameInput.style.border = 'solid 2px red';

      return false;
    }
    fnameError.innerHTML = '';
    // fnameError.innerHTML = "Valid Name";
    fnameError.style.color = 'green';
    fnameInput.style.border = 'solid 2px green';

    return true;
  }
  function validateLastName() {
    const lname = document.getElementById('lname').value;
    const lnameInput = document.getElementById('lname');

    if (lname.length == 0) {
      lnameError.innerHTML = 'Name is required';
      lnameError.style.color = 'red';
      lnameInput.style.border = 'solid 2px red';
      return false;
    }
    if (!lname.match(/^[A-Za-z]{3,}$/)) {
      lnameError.innerHTML = 'Write valid name';
      lnameError.style.color = 'red';
      lnameInput.style.border = 'solid 2px red';

      return false;
    }
    lnameError.innerHTML = '';
    // fnameError.innerHTML = "Valid Name";
    lnameError.style.color = 'green';
    lnameInput.style.border = 'solid 2px green';

    return true;
  }
  function validateStreet() {
    const street = document.getElementById('street').value;
    const streetInput = document.getElementById('street');

    if (street.length == 0) {
      streetError.innerHTML = 'Street name is required';
      streetError.style.color = 'red';
      streetInput.style.border = 'solid 2px red';
      return false;
    }
    if (!street.match(/^[A-Za-z]{3,}$/)) {
      streetError.innerHTML = 'Write valid Street name';
      streetError.style.color = 'red';
      streetInput.style.border = 'solid 2px red';

      return false;
    }
    streetError.innerHTML = '';
    // fnameError.innerHTML = "Valid Name";
    streetError.style.color = 'green';
    streetInput.style.border = 'solid 2px green';

    return true;
  }
  function validateApartment() {
    const apartment = document.getElementById('apartment').value;
    const apartmentInput = document.getElementById('apartment');

    if (apartment.length == 0) {
      apartmentError.innerHTML = 'Apartment name is required';
      apartmentError.style.color = 'red';
      apartmentInput.style.border = 'solid 2px red';
      return false;
    }
    if (!apartment.match(regex)) {
      apartmentError.innerHTML = 'Write valid apartment name';
      apartmentError.style.color = 'red';
      apartmentInput.style.border = 'solid 2px red';

      return false;
    }
    apartmentError.innerHTML = '';
    // fnameError.innerHTML = "Valid Name";
    apartmentError.style.color = 'green';
    apartmentInput.style.border = 'solid 2px green';

    return true;
  }
  function validateCity() {
    const city = document.getElementById('city').value;
    const cityInput = document.getElementById('city');

    if (city.length == 0) {
      cityError.innerHTML = 'city name is required';
      cityError.style.color = 'red';
      cityInput.style.border = 'solid 2px red';
      return false;
    }
    if (!city.match(/^[A-Za-z]{3,}$/)) {
      cityError.innerHTML = 'Write valid city name';
      cityError.style.color = 'red';
      cityInput.style.border = 'solid 2px red';

      return false;
    }
    cityError.innerHTML = '';
    // fnameError.innerHTML = "Valid Name";
    cityError.style.color = 'green';
    cityInput.style.border = 'solid 2px green';

    return true;
  }
  function validateState() {
    const state = document.getElementById('state').value;
    const stateInput = document.getElementById('state');
    if (state.length == 0) {
      stateError.innerHTML = 'state name is required';
      stateError.style.color = 'red';
      stateInput.style.border = 'solid 2px red';
      return false;
    }
    if (!state.match(/^[A-Za-z]{3,}$/)) {
      stateError.innerHTML = 'Write valid state name';
      stateError.style.color = 'red';
      stateInput.style.border = 'solid 2px red';

      return false;
    }
    stateError.innerHTML = '';
    // fnameError.innerHTML = "Valid Name";
    stateError.style.color = 'green';
    stateInput.style.border = 'solid 2px green';

    return true;
  }
  function validateEmail() {
    const email = document.getElementById('email').value;
    const emailInput = document.getElementById('email');

    if (email.length == 0) {
      emailError.innerHTML = 'Email is required';
      emailError.style.color = 'red';
      emailInput.style.border = 'solid 2px red';

      return false;
    }
    if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
      emailError.innerHTML = 'Email invalid';
      emailError.style.color = 'red';
      emailInput.style.border = 'solid 2px red';

      return false;
    }
    emailError.innerHTML = '';
    emailError.style.color = 'green';
    emailInput.style.border = 'solid 2px green';
    return true;
  }
  function validatePin() {
    const pin = document.getElementById('pin').value;
    const pinInput = document.getElementById('pin');

    if (pin.length == 0) {
      pinError.innerHTML = 'pin number is required';
      pinError.style.color = 'red';
      pinInput.style.border = 'solid 2px red';
      return false;
    }
    if (!pin.match(/^\d{6}$/)) {
      pinError.innerHTML = 'Enter valid number';
      pinError.style.color = 'red';
      pinInput.style.border = 'solid 2px red';

      return false;
    }
    pinError.innerHTML = '';
    pinError.style.color = 'green';
    pinInput.style.border = 'solid 2px green';
    return true;
  }
  function validatePhone() {
    const phone = document.getElementById('phone').value;
    const phoneInput = document.getElementById('phone');

    if (phone.length == 0) {
      phoneError.innerHTML = 'phone number is required';
      phoneError.style.color = 'red';
      phoneInput.style.border = 'solid 2px red';
      return false;
    }
    if (!phone.match(/^\d{10}$/)) {
      phoneError.innerHTML = 'Enter valid number';
      phoneError.style.color = 'red';
      phoneInput.style.border = 'solid 2px red';

      return false;
    }
    phoneError.innerHTML = '';
    phoneError.style.color = 'green';
    phoneInput.style.border = 'solid 2px green';
    return true;
  }
 
  form.addEventListener('submit', (event) => {
    event.preventDefault();
    if (
      !validateFirstName() ||
      !validateLastName() ||
      !validateEmail() ||
      !validatePhone() 
     
    ) {
      Swal.fire({
        icon: 'error',
        title: 'Enter details correctly!!',
      });
      return false;
    } else {
      form.submit();
    }
  });
</script>