<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg" data-setbg="<%=banner[0].image[0]%>">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>April Collection</h6>
              <h2><%=banner[0].title%></h2>
              <p><%=banner[0].description%></p>
              <a href="<%=banner[0].link%>" class="primary-btn"
                >Shop now <span class="arrow_right"></span
              ></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__items set-bg" data-setbg="<%=banner[0].image[1]%>">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6>April Collection</h6>
              <h2><%=banner[0].title%></h2>
              <p><%=banner[0].description%></p>
              <a href="<%=banner[0].link%>" class="primary-btn"
                >Shop now <span class="arrow_right"></span
              ></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img
              style="width: 500px; height: 350px"
              src="https://media.istockphoto.com/id/1216658940/photo/sports-woman-running-in-studio-full-length-shot-of-young-female-exercising-over-blue.jpg?s=612x612&w=0&k=20&c=geiYOETwuVviOw36y2c-NpY5aEfl5Av2K_zs3e2YfjU="
              alt=""
            />
          </div>
          <div class="banner__item__text">
            <h2>Clothing Collections 2030</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img
              style="width: 440px; height: 380px"
              src="https://media.istockphoto.com/id/917899790/photo/sport-equipments-on-floor.jpg?b=1&s=170667a&w=0&k=20&c=XsSFpE3L3LZ1i3x_Pu2OMHz3H8w1kqxJUru8dzHp9tI="
              alt=""
            />
          </div>
          <div class="banner__item__text">
            <h2>Accessories</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img
              src="https://media.istockphoto.com/id/1079117394/photo/great-sneaker.jpg?s=612x612&w=0&k=20&c=fJC7xIo9Umddw2TMF7nyUFHIThbi4zV2zvoXEIevRUI="
              alt=""
            />
          </div>
          <div class="banner__item__text">
            <h2>Shoes Spring 2030</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->
<section class="featured section-padding mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
        <div
          style="
            text-align: center;
            padding: 25px 15px;
            border-radius: 4px;
            border: 1px solid #cce7d0;
          "
          class="banner-features wow fadeIn animated hover-up animated"
        >
          <img src="assets/imgs/feature-1.png" alt="" />
          <h4
            style="
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              padding: 9px 8px 6px 8px;
              line-height: 1;
              border-radius: 4px;
              color: black;
              background-color: #fddde4;
            "
            class="bg-1"
          >
            Free Shipping
          </h4>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
        <div
          style="
            text-align: center;
            padding: 25px 15px;
            border-radius: 4px;
            border: 1px solid #cce7d0;
          "
          class="banner-features wow fadeIn animated hover-up animated"
        >
          <img src="assets/imgs/feature-2.png" alt="" />
          <h4
            style="
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              padding: 9px 8px 6px 8px;
              line-height: 1;
              border-radius: 4px;
              color: black;
              background-color: #d1e8f2;
            "
            class="bg-3"
          >
            Online Order
          </h4>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
        <div
          style="
            text-align: center;
            padding: 25px 15px;
            border-radius: 4px;
            border: 1px solid #cce7d0;
          "
          class="banner-features wow fadeIn animated hover-up animated"
        >
          <img src="assets/imgs/feature-3.png" alt="" />
          <h4
            style="
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              padding: 9px 8px 6px 8px;
              line-height: 1;
              border-radius: 4px;
              color: black;
              background-color: #cdebbc;
            "
            class="bg-2"
          >
            Save Money
          </h4>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
        <div
          style="
            text-align: center;
            padding: 25px 15px;
            border-radius: 4px;
            border: 1px solid #cce7d0;
          "
          class="banner-features wow fadeIn animated hover-up animated"
        >
          <img src="assets/imgs/feature-4.png" alt="" />
          <h4
            style="
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              padding: 9px 8px 6px 8px;
              line-height: 1;
              border-radius: 4px;
              color: black;
              background-color: #cdd4f8;
            "
            class="bg-4"
          >
            Promotions
          </h4>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
        <div
          style="
            text-align: center;
            padding: 25px 15px;
            border-radius: 4px;
            border: 1px solid #cce7d0;
          "
          class="banner-features wow fadeIn animated hover-up animated"
        >
          <img src="assets/imgs/feature-5.png" alt="" />
          <h4
            style="
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              padding: 9px 8px 6px 8px;
              line-height: 1;
              border-radius: 4px;
              color: black;
              background-color: #f6dbf6;
            "
            class="bg-5"
          >
            Happy Sell
          </h4>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
        <div
          style="
            text-align: center;
            padding: 25px 15px;
            border-radius: 4px;
            border: 1px solid #cce7d0;
          "
          class="banner-features wow fadeIn animated hover-up animated"
        >
          <img src="assets/imgs/feature-6.png" alt="" />
          <h4
            style="
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              padding: 9px 8px 6px 8px;
              line-height: 1;
              border-radius: 4px;
              color: black;
              background-color: #fff2e5;
            "
            class="bg-6"
          >
            24/7 Support
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

