<!-- <section>
  <div
    class="modal fade custom-modal"
    id="quickViewModal"
    tabindex="-1"
    aria-labelledby="quickViewModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="detail-gallery">
                <span class="zoom-icon"><i class="fi-rs-search"></i></span> -->


<!-- MAIN SLIDES -->



<!-- <div class="product-image-slider">
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-2.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-1.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-3.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-4.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-5.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-6.jpg"
                      alt="product image"
                    />
                  </figure>
                  <figure class="border-radius-10">
                    <img
                      src="assets/imgs/shop/product-16-7.jpg"
                      alt="product image"
                    />
                  </figure>
                </div> -->



<!-- THUMBNAILS -->


<!-- <div class="slider-nav-thumbnails pl-15 pr-15">
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-3.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-4.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-5.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-6.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-7.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-8.jpg"
                      alt="product image"
                    />
                  </div>
                  <div>
                    <img
                      src="assets/imgs/shop/thumbnail-9.jpg"
                      alt="product image"
                    />
                  </div>
                </div>
              </div> -->



<!-- End Gallery -->



<!-- <div class="social-icons single-share">
                <ul class="text-grey-5 d-inline-block">
                  <li><strong class="mr-10">Share this:</strong></li>
                  <li class="social-facebook">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-facebook.svg"
                        alt=""
                    /></a>
                  </li>
                  <li class="social-twitter">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-twitter.svg"
                        alt=""
                    /></a>
                  </li>
                  <li class="social-instagram">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-instagram.svg"
                        alt=""
                    /></a>
                  </li>
                  <li class="social-linkedin">
                    <a href="#"
                      ><img
                        src="assets/imgs/theme/icons/icon-pinterest.svg"
                        alt=""
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="detail-info">
                <h3 class="title-detail mt-30">
                  Colorful Pattern Shirts HD450
                </h3>
                <div class="product-detail-rating">
                  <div class="pro-details-brand">
                    <span>
                      Brands:
                      <a href="shop-grid-right.html">Bootstrap</a></span
                    >
                  </div>
                  <div class="product-rate-cover text-end">
                    <div class="product-rate d-inline-block">
                      <div class="product-rating" style="width: 90%"></div>
                    </div>
                    <span class="font-small ml-5 text-muted">
                      (25 reviews)</span
                    >
                  </div>
                </div>
                <div class="clearfix product-price-cover">
                  <div class="product-price primary-color float-left">
                    <ins><span class="text-brand">$120.00</span></ins>
                    <ins
                      ><span class="old-price font-md ml-15">$200.00</span></ins
                    >
                    <span class="save-price font-md color3 ml-15">25% Off</span>
                  </div>
                </div>
                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                <div class="short-desc mb-30">
                  <p class="font-sm">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aliquam rem officia, corrupti reiciendis minima nisi modi,!
                  </p>
                </div>

                <div class="attr-detail attr-color mb-15">
                  <strong class="mr-10">Color</strong>
                  <ul class="list-filter color-filter">
                    <li>
                      <a href="#" data-color="Red"
                        ><span class="product-color-red"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Yellow"
                        ><span class="product-color-yellow"></span
                      ></a>
                    </li>
                    <li class="active">
                      <a href="#" data-color="White"
                        ><span class="product-color-white"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Orange"
                        ><span class="product-color-orange"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Cyan"
                        ><span class="product-color-cyan"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Green"
                        ><span class="product-color-green"></span
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-color="Purple"
                        ><span class="product-color-purple"></span
                      ></a>
                    </li>
                  </ul>
                </div>
                <div class="attr-detail attr-size">
                  <strong class="mr-10">Size</strong>
                  <ul class="list-filter size-filter font-small">
                    <li><a href="#">S</a></li>
                    <li class="active"><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                    <li><a href="#">XXL</a></li>
                  </ul>
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                <div class="detail-extralink">
                  <div class="detail-qty border radius">
                    <a href="#" class="qty-down"
                      ><i class="fi-rs-angle-small-down"></i
                    ></a>
                    <span class="qty-val">1</span>
                    <a href="#" class="qty-up"
                      ><i class="fi-rs-angle-small-up"></i
                    ></a>
                  </div>
                  <div class="product-extra-link2">
                    <button type="submit" class="button button-add-to-cart">
                      Add to cart
                    </button>
                    <a
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up"
                      href="shop-wishlist.html"
                      ><i class="fi-rs-heart"></i
                    ></a>
                    <a
                      aria-label="Compare"
                      class="action-btn hover-up"
                      href="shop-compare.html"
                      ><i class="fi-rs-shuffle"></i
                    ></a>
                  </div>
                </div>
                <ul class="product-meta font-xs color-grey mt-50">
                  <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                  <li class="mb-5">
                    Tags: <a href="#" rel="tag">Cloth</a>,
                    <a href="#" rel="tag">Women</a>,
                    <a href="#" rel="tag">Dress</a>
                  </li>
                  <li>
                    Availability:<span class="in-stock text-success ml-5"
                      >8 Items In Stock</span
                    >
                  </li>
                </ul>
              </div> -->



<!-- Detail Info -->



<!-- </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow">Home</a>
        <span></span> Shop
      </div>
    </div>
  </div>
  <div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="index.html"
            ><img src="assets/imgs/theme/logo.svg" alt="logo"
          /></a>
        </div>
        <div
          class="mobile-menu-close close-style-wrap close-style-position-inherit"
        >
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input type="text" placeholder="Search for items…" />
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <div class="main-categori-wrap mobile-header-border">
            <a class="categori-button-active-2" href="#">
              <span class="fi-rs-apps"></span> Browse Categories
            </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
              <ul>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-dress"></i>Women's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-tshirt"></i>Men's Clothing</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-smartphone"></i> Cellphones</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-desktop"></i>Computer & Office</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-cpu"></i>Consumer Electronics</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-home"></i>Home & Garden</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-high-heels"></i>Shoes</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-teddy-bear"></i>Mother & Kids</a
                  >
                </li>
                <li>
                  <a href="shop-grid-right.html"
                    ><i class="evara-font-kite"></i>Outdoor fun</a
                  >
                </li>
              </ul>
            </div>
          </div> -->



<!-- mobile menu start -->



<!-- <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/">Home</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="/shop">Shop</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Orders</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">About</a>
              </li>
              <li class="menu-item-has-children">
                <span class="menu-expand"></span
                ><a href="blog-category-fullwidth.html">Contact</a>
              </li> -->

<!-- <li class="menu-item-has-children">
                <span class="menu-expand"></span><a href="#">Language</a>
                <ul class="dropdown">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li> -->
<!-- </ul>
          </nav> -->



<!-- mobile menu end -->



<!-- </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info mt-30">
            <a href="page-contact.html"> Our location </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="page-login-register.html">Log In / Sign Up </a>
          </div>
          <div class="single-mobile-header-info">
            <a href="#">(+01) - 2345 - 6789 </a>
          </div>
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""
          /></a>
          <a href="#"
            ><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <main class="main">
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="shop-product-fillter">
              <div class="totall-product">
                <p>
                  We found <strong class="text-brand">688</strong> items for
                  you!
                </p>
              </div>
              <div class="sort-by-product-area">
                <div class="sort-by-cover mr-10">
                  <div class="sort-by-product-wrap">
                    <div class="sort-by">
                      <span><i class="fi-rs-apps"></i>Show:</span>
                    </div>
                    <div class="sort-by-dropdown-wrap">
                      <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                    </div>
                  </div>
                  <div class="sort-by-dropdown">
                    <ul>
                      <li><a class="active" href="#">50</a></li>
                      <li><a href="#">100</a></li>
                      <li><a href="#">150</a></li>
                      <li><a href="#">200</a></li>
                      <li><a href="#">All</a></li>
                    </ul>
                  </div>
                </div>
                <div class="sort-by-cover">
                  <div class="sort-by-product-wrap">
                    <div class="sort-by">
                      <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                    </div>
                    <div class="sort-by-dropdown-wrap">
                      <span>
                        Featured <i class="fi-rs-angle-small-down"></i
                      ></span>
                    </div>
                  </div>
                  <div class="sort-by-dropdown">
                    <ul>
                      <li><a class="active" href="#">Featured</a></li>
                      <li><a href="#">Price: Low to High</a></li>
                      <li><a href="#">Price: High to Low</a></li>
                      <li><a href="#">Release Date</a></li>
                      <li><a href="#">Avg. Rating</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product-grid-3">
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-2-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-2-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Music</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"
                        >Colorful Pattern Shirts</a
                      >
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$238.85 </span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-3-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-3-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="new">New</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Music</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"
                        >Cartoon Astronaut T-Shirts</a
                      >
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>50%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$138.85 </span>
                      <span class="old-price">$255.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-7-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-7-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="best">Best Sell</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Watch</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">Plain Striola Shirts</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>95%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$338.85 </span>
                      <span class="old-price">$445.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-1-2.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-1-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="sale">Sale</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Music</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"
                        >Landscape Painting Shirt</a
                      >
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>70%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$123.85 </span>
                      <span class="old-price">$235.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-4-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-3-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">-30%</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Speaker</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">Letter Print T-Shirt</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>70%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$28.85 </span>
                      <span class="old-price">$45.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-5-2.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-5-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">-22%</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Camera</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"
                        >Element Pattern Print Shirts</a
                      >
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>70%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$238.85 </span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-8-2.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-8-1.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="new">New</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Phone</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">Vintage Henley Shirt</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>98%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$1275.85 </span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-11-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-11-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Accessories </a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">Cotton Leaf Printed</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>70%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$238.85 </span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-13-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-13-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Accessories </a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">Cotton Leaf Printed</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>70%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$238.85 </span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-3-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-3-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Music</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"
                        >Colorful Pattern Shirts</a
                      >
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>90%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$238.85 </span>
                      <span class="old-price">$245.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-2-1.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-2-2.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="new">New</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Music</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html"
                        >Cartoon Astronaut T-Shirts</a
                      >
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>50%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$138.85 </span>
                      <span class="old-price">$255.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="shop-product-right.html">
                        <img
                          class="default-img"
                          src="assets/imgs/shop/product-7-2.jpg"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="assets/imgs/shop/product-7-1.jpg"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        aria-label="Quick view"
                        class="action-btn hover-up"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                      >
                        <i class="fi-rs-search"></i
                      ></a>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        href="shop-wishlist.html"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="shop-compare.html"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                    <div
                      class="product-badges product-badges-position product-badges-mrg"
                    >
                      <span class="best">Best Sell</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Watch</a>
                    </div>
                    <h2>
                      <a href="shop-product-right.html">Plain Striola Shirts</a>
                    </h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span>95%</span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$338.85 </span>
                      <span class="old-price">$445.8</span>
                    </div>
                    <div class="product-action-1 show">
                      <a
                        aria-label="Add To Cart"
                        class="action-btn hover-up"
                        href="shop-cart.html"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->




<!--pagination-->



<!-- <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <li class="page-item active">
                    <a class="page-link" href="#">01</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">02</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">03</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link dot" href="#">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">16</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#"
                      ><i class="fi-rs-angle-double-small-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3 primary-sidebar sticky-sidebar">
            <div class="widget-category mb-30">
              <h5 class="section-title style-1 mb-30 wow fadeIn animated">
                Category
              </h5>
              <ul class="categories">
                <li><a href="shop-grid-right.html">Shoes & Bags</a></li>
                <li><a href="shop-grid-right.html">Blouses & Shirts</a></li>
                <li><a href="shop-grid-right.html">Dresses</a></li>
                <li><a href="shop-grid-right.html">Swimwear</a></li>
                <li><a href="shop-grid-right.html">Beauty</a></li>
                <li><a href="shop-grid-right.html">Jewelry & Watch</a></li>
                <li><a href="shop-grid-right.html">Accessories</a></li>
              </ul>
            </div> -->


<!-- Fillter By Price -->


<!-- <div class="sidebar-widget price_range range mb-30">
              <div class="widget-header position-relative mb-20 pb-10">
                <h5 class="widget-title mb-10">Fill by price</h5>
                <div class="bt-1 border-color-1"></div>
              </div>
              <div class="price-filter">
                <div class="price-filter-inner">
                  <div id="slider-range"></div>
                  <div class="price_slider_amount">
                    <div class="label-input">
                      <span>Range:</span
                      ><input
                        type="text"
                        id="amount"
                        name="price"
                        placeholder="Add Your Price"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-group">
                <div class="list-group-item mb-10 mt-10">
                  <label class="fw-900">Color</label>
                  <div class="custome-checkbox">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="exampleCheckbox1"
                      value=""
                    />
                    <label class="form-check-label" for="exampleCheckbox1"
                      ><span>Red (56)</span></label
                    >
                    <br />
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="exampleCheckbox2"
                      value=""
                    />
                    <label class="form-check-label" for="exampleCheckbox2"
                      ><span>Green (78)</span></label
                    >
                    <br />
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="exampleCheckbox3"
                      value=""
                    />
                    <label class="form-check-label" for="exampleCheckbox3"
                      ><span>Blue (54)</span></label
                    >
                  </div>
                  <label class="fw-900 mt-15">Item Condition</label>
                  <div class="custome-checkbox">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="exampleCheckbox11"
                      value=""
                    />
                    <label class="form-check-label" for="exampleCheckbox11"
                      ><span>New (1506)</span></label
                    >
                    <br />
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="exampleCheckbox21"
                      value=""
                    />
                    <label class="form-check-label" for="exampleCheckbox21"
                      ><span>Refurbished (27)</span></label
                    >
                    <br />
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="exampleCheckbox31"
                      value=""
                    />
                    <label class="form-check-label" for="exampleCheckbox31"
                      ><span>Used (45)</span></label
                    >
                  </div>
                </div>
              </div>
              <a href="shop-grid-right.html" class="btn btn-sm btn-default"
                ><i class="fi-rs-filter mr-5"></i> Fillter</a
              >
            </div> -->


<!-- Product sidebar Widget -->



<!-- <div
              class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10"
            >
              <div class="widget-header position-relative mb-20 pb-10">
                <h5 class="widget-title mb-10">New products</h5>
                <div class="bt-1 border-color-1"></div>
              </div>
              <div class="single-post clearfix">
                <div class="image">
                  <img src="assets/imgs/shop/thumbnail-3.jpg" alt="#" />
                </div>
                <div class="content pt-10">
                  <h5>
                    <a href="shop-product-detail.html">Chen Cardigan</a>
                  </h5>
                  <p class="price mb-0 mt-5">$99.50</p>
                  <div class="product-rate">
                    <div class="product-rating" style="width: 90%"></div>
                  </div>
                </div>
              </div>
              <div class="single-post clearfix">
                <div class="image">
                  <img src="assets/imgs/shop/thumbnail-4.jpg" alt="#" />
                </div>
                <div class="content pt-10">
                  <h6><a href="shop-product-detail.html">Chen Sweater</a></h6>
                  <p class="price mb-0 mt-5">$89.50</p>
                  <div class="product-rate">
                    <div class="product-rating" style="width: 80%"></div>
                  </div>
                </div>
              </div>
              <div class="single-post clearfix">
                <div class="image">
                  <img src="assets/imgs/shop/thumbnail-5.jpg" alt="#" />
                </div>
                <div class="content pt-10">
                  <h6>
                    <a href="shop-product-detail.html">Colorful Jacket</a>
                  </h6>
                  <p class="price mb-0 mt-5">$25</p>
                  <div class="product-rate">
                    <div class="product-rating" style="width: 60%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
              <img src="assets/imgs/banner/banner-11.jpg" alt="" />
              <div class="banner-text">
                <span>Women Zone</span>
                <h4>Save 17% on <br />Office Dress</h4>
                <a href="shop-grid-right.html"
                  >Shop Now <i class="fi-rs-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-md-3 mb-lg-0">
            <div class="row align-items-center">
              <div class="col flex-horizontal-center">
                <img
                  class="icon-email"
                  src="assets/imgs/theme/icons/icon-email.svg"
                  alt=""
                />
                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
              </div>
              <div class="col my-4 my-md-0 des">
                <h5 class="font-size-15 ml-4 mb-0">
                  ...and receive
                  <strong>$25 coupon for first shopping.</strong>
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-5"> -->


<!-- Subscribe Form -->


<!-- <form class="form-subcriber d-flex wow fadeIn animated">
              <input
                type="email"
                class="form-control bg-white font-small"
                placeholder="Enter your email"
              />
              <button class="btn bg-dark text-white" type="submit">
                Subscribe
              </button>
            </form> -->


<!-- End Subscribe Form -->



<!-- </div>
        </div>
      </div>
    </section>
    <section class="section-padding footer-mid">
      <div class="container pt-15 pb-20">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="widget-about font-md mb-md-5 mb-lg-0">
              <div class="logo logo-width-1 wow fadeIn animated">
                <a href="index.html"
                  ><img src="assets/imgs/theme/logo.svg" alt="logo"
                /></a>
              </div>
              <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">
                Contact
              </h5>
              <p class="wow fadeIn animated">
                <strong>Address: </strong>562 Wellington Road, Street 32, San
                Francisco
              </p>
              <p class="wow fadeIn animated">
                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
              </p>
              <p class="wow fadeIn animated">
                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
              </p>
              <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">
                Follow Us
              </h5>
              <div
                class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0"
              >
                <a href="#"
                  ><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""
                /></a>
                <a href="#"
                  ><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""
                /></a>
                <a href="#"
                  ><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""
                /></a>
                <a href="#"
                  ><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""
                /></a>
                <a href="#"
                  ><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <h5 class="widget-title wow fadeIn animated">About</h5>
            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Support Center</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <h5 class="widget-title wow fadeIn animated">My Account</h5>
            <ul class="footer-list wow fadeIn animated">
              <li><a href="#">Sign In</a></li>
              <li><a href="#">View Cart</a></li>
              <li><a href="#">My Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Order</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5 class="widget-title wow fadeIn animated">Install App</h5>
            <div class="row">
              <div class="col-md-8 col-lg-12">
                <p class="wow fadeIn animated">From App Store or Google Play</p>
                <div class="download-app wow fadeIn animated">
                  <a href="#" class="hover-up mb-sm-4 mb-lg-0"
                    ><img
                      class="active"
                      src="assets/imgs/theme/app-store.jpg"
                      alt=""
                  /></a>
                  <a href="#" class="hover-up"
                    ><img src="assets/imgs/theme/google-play.jpg" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                <p class="mb-20 wow fadeIn animated">
                  Secured Payment Gateways
                </p>
                <img
                  class="wow fadeIn animated"
                  src="assets/imgs/theme/payment-method.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
      <div class="row">
        <div class="col-12 mb-20">
          <div class="footer-bottom"></div>
        </div>
        <div class="col-lg-6">
          <p class="float-md-left font-sm text-muted mb-0">
            &copy; 2021, <strong class="text-brand">Evara</strong> - HTML
            Ecommerce Template
          </p>
        </div>
        <div class="col-lg-6">
          <p class="text-lg-end text-start font-sm text-muted mb-0">
            Designed by
            <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>.
            All rights reserved
          </p>
        </div>
      </div>
    </div>
  </footer> -->


<!-- Preloader Start -->



<!-- <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="text-center">
          <h5 class="mb-5">Now Loading</h5>
          <div class="loader">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- Vendor JS-->

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->


<body>


  <!-- Quick view -->

  <main class="main">

    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <!-- <div class="shop-product-fillter">
                          <div class="totall-product">
                              <p> We found <strong class="text-brand">688</strong> items for you!</p>
                          </div>
                          <div class="sort-by-product-area">
                              <div class="sort-by-cover mr-10">
                                  <div class="sort-by-product-wrap">
                                      <div class="sort-by">
                                          <span><i class="fi-rs-apps"></i>Show:</span>
                                      </div>
                                      <div class="sort-by-dropdown-wrap">
                                          <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                      </div>
                                  </div>
                                  <div class="sort-by-dropdown">
                                      <ul>
                                          <li><a class="active" href="#">50</a></li>
                                          <li><a href="#">100</a></li>
                                          <li><a href="#">150</a></li>
                                          <li><a href="#">200</a></li>
                                          <li><a href="#">All</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="sort-by-cover">
                                  <div class="sort-by-product-wrap">
                                      <div class="sort-by">
                                          <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                      </div>
                                      <div class="sort-by-dropdown-wrap">
                                          <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                      </div>
                                  </div>
                                  <div class="sort-by-dropdown"> 
                                      <ul>
                                          <li><a class="active" href="#">Featured</a></li>
                                          <li><a href="#">Price: Low to High</a></li>
                                          <li><a href="#">Price: High to Low</a></li>
                                          <li><a href="#">Release Date</a></li>
                                          <li><a href="#">Avg. Rating</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div> -->





            <div class="row product-grid-3">
              <% response.forEach(function(response,index) { %>

                <div class="col-lg-4 col-md-4 col-12 col-sm-6">


                  <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                      <div class="product-img product-img-zoom">
                        <a href="shop-product-right.html">
                          <a href="/product_single_view/<%=response._id %>"><img class="default-img"
                              src="/images/<%= response.image %>" alt=""></a>
                          <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                        </a>
                      </div>
                      <div class="product-action-1">
                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                          data-bs-target="#quickViewModal">
                          <i class="fi-rs-search"></i></a>
                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i
                            class="fi-rs-heart"></i></a>
                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                            class="fi-rs-shuffle"></i></a>
                      </div>
                      <div class="product-badges product-badges-position product-badges-mrg">

                      </div>
                    </div>
                    <div class="product-content-wrap">
                      <div class="product-category">
                        <a href="shop-grid-right.html">
                          <%=response.category%>
                        </a>
                      </div>
                      <h2><a href="shop-product-right.html">
                          <%=response.productname%>
                        </a></h2>
                      <div class="rating-result" title="90%">
                        <span>
                          <span>95%</span>
                        </span>
                      </div>
                      <div class="product-price">
                        <span>₹<%=response.price%></span>

                      </div>
                      <div class="product-action-1 show">
                        <!-- <a aria-label="Add To Cart" class="action-btn hover-up" href="/add_to_cart/<%=response._id %>"><i class="fi-rs-shopping-bag-add"></i></a> -->
                        <button aria-label="Add To Cart" class="action-btn hover-up"
                          onclick="addToCart('<%-response._id%>')"><i class="fi-rs-shopping-bag-add"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
            <!--pagination-->
            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <li class="page-item active"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">16</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3 primary-sidebar sticky-sidebar">
            <div class="widget-category mb-30">
              <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
              <ul class="categories">
                <li><a href="shop-grid-right.html">Football</a></li>
                <li><a href="shop-grid-right.html">Cricket</a></li>
                <li><a href="shop-grid-right.html">Volleyball</a></li>
                <li><a href="shop-grid-right.html">Cycling</a></li>
                <!-- <li><a href="shop-grid-right.html">Beauty</a></li>
                              <li><a href="shop-grid-right.html">Jewelry & Watch</a></li>
                              <li><a href="shop-grid-right.html">Accessories</a></li> -->
              </ul>
            </div>


          </div>
        </div>
      </div>
    </section>
  </main>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

</html>


<script>
  function addToCart(proId) {
    $.ajax({
      url: "/add_to_cart/" + proId,
      method: "get",
      success: (response) => {
        // alert(response)
        if (response.update) {
          let cartCount = $("#cartCount").html()
          cartCount = parseInt(cartCount) + 1
          $("#cartCount").html(cartCount)
        }
        Toastify({
          text: "Added to cart",
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "bottom", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: "linear-gradient(to right, #00b09b, #96c93d)",
          },
          onClick: function () { } // Callback after click
        }).showToast();
      }

    })
  }
</script>