<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="./index.html">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <form class="search-model-form" action="/search" method="post">
                <input
                type="text"
                id="keyword"
                name="search"
                placeholder="Search here....."
              />
              <button type="submit"><span class="icon_search"></span></button>
            </form>
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne"
                    >Categories</a
                  >
                </div>

                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <li><a href="/shop">All</a></li>
                        <% categories.forEach(function(categories,index) { %>
                        <li class="categories_link">
                          <a href="/category-show/<%=categories._id%>"
                            ><%=categories.categoryname%></a
                          >
                        </li>

                        <% }) %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <form id="sort-form" method="POST" action="/sort">
                <div class="shop__product__option">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="shop__product__option__right">
                        <p>Sort by Price:</p>
                        <select
                          name="selectedValue"
                          onchange="this.form.submit()"
                        >
                          <option value=""><a href="/shop"> All</a></option>
                          <option value="₹Low - ₹High">
                            <a href="">₹Low - ₹High</a>
                          </option>
                          <option value="₹High - ₹Low">
                            <a href="">₹High - ₹Low</a>
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <% products.forEach(function(products,index) { %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <a href="/shop-details/<%=products.slug%>">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="<%= products.image[0] %>"
                >
                  <ul class="product__hover">
                    <li>
                      <a
                        aria-label="Add To Wishlist"
                        class="action-btn"
                        onclick="addToWishlist('<%-products._id%>')"
                        ><img src="img/icon/heart.png" alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        ><img src="img/icon/compare.png" alt="" />
                        <span>Compare</span></a
                      >
                    </li>
                    <li>
                      <a href="/shop-details/<%=products.slug%>"
                        ><img src="img/icon/search.png" alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
              </a>
              <div class="product__item__text">
                <h6><%=products.productname%></h6>

                <div class="rating">
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <h5>₹<%=products.price%></h5>
                <div class="product__color__select">
                  <% if (products.quantity<=0) { %>
                  <button
                    aria-label="Add To Cart"
                    style="background-color: red"
                    class="btn button-40 addToCart action-btn hover-up btn-dark"
                  >
                    Out Of Stock
                  </button>
                  <% } else { %>
                  <button
                    aria-label="Add To Cart"
                    class="btn button-40 addToCart action-btn hover-up btn-dark"
                    onclick="addToCart('<%-products._id%>')"
                  >
                    Add To Cart
                  </button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <nav aria-label="...">
          <ul class="pagination">
            <% for(let i=1;i<=pagination;i++){%> <% if(i==page){%>
            <li class="page-item">
              <a
                style="background-color: #088178; color: aliceblue"
                class="page-link"
                href="/shop?page=<%=i%>"
                ><%=i%></a
              >
            </li>
            <%}else{%>
            <li class="page-item">
              <a
                style="background-color: #18334f; color: aliceblue"
                class="page-link"
                href="/shop?page=<%=i%>"
                ><%=i%></a
              >
            </li>
            <%}%> <%}%>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->



<script>
  function addToCart(proId) {
    $.ajax({
      url: "/addToCart/" + proId,
      method: "get",
      success: (response) => {
        if (response.update) {
          let cartCount = $("#cartCount").html();
          cartCount = parseInt(cartCount) + 1;
          $("#cartCount").html(cartCount);

          Toastify({
            text: "Added to cart",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () {}, // Callback after click
          }).showToast();
        } else {
          Toastify({
            text: "Please login to add cart",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () {}, // Callback after click
          }).showToast();
        }
      },
    });
  }

  function addToWishlist(proId) {
    $.ajax({
      url: "/addWishlist/" + proId,
      method: "get",
      success: (response) => {
        if (response.status) {
          let wishCount = $("#wishCount").html();
          wishCount = parseInt(wishCount) + 1;
          $("#wishCount").html(wishCount);

          Toastify({
            text: "Added to Wishlist",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () {}, // Callback after click
          }).showToast();
        } else {
          Toastify({
            text: "Please login to add Wishlist",
            duration: 3000,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () {}, // Callback after click
          }).showToast();
        }
      },
    });
  }
</script>
